authorization-pdp-ge/rest-api-model/src/main/resources/authz-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl.xsl"?>
<wadl:application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xacml="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17"
	xmlns:taz="http://thalesgroup.com/authz/model/2015/09" xmlns:taz-res="http://thalesgroup.com/authz/model/2015/09/resource" xmlns:atom="http://www.w3.org/2005/Atom"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd ">
	<wadl:doc xml:lang="EN">
		RESTful API of Authorization Service v${project.version}
	</wadl:doc>
	<wadl:grammars>
		<wadl:include href="atom.xsd" />
		<wadl:include href="xacml-core-v3-schema-wd-17.xsd" />
		<wadl:include href="xsd/authz-api-resource.xsd" />
		<wadl:include href="xsd/authz-api.xsd" />
	</wadl:grammars>
	<wadl:resources base="http://localhost/authz-${project.version}">
		<wadl:resource path="domains" id="endUserDomainSet">
			<wadl:doc>End-User Policy Domains to be managed by the policy administrators of the
				end-user/client organizations
			</wadl:doc>
			<wadl:method name="POST" id="addDomain">
				<wadl:doc>Create managed resource for the administration domain</wadl:doc>
				<wadl:request>
					<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
				</wadl:request>
				<wadl:response status="200">
					<wadl:representation mediaType="application/xml" element="atom:link">
						<wadl:doc>Link to created managed resource</wadl:doc>
					</wadl:representation>
				</wadl:response>
				<wadl:response status="400" />
				<wadl:response status="401" />
				<wadl:response status="403" />
				<wadl:response status="409">
					<wadl:doc>Name conflict</wadl:doc>
				</wadl:response>
			</wadl:method>
			<wadl:method name="GET" id="getDomains">
				<wadl:request>
					<wadl:param name="externalId" style="query" type="xs:NCName" required="false">
						<wadl:doc>If specified, only the domain with matching externalId is returned, or none if no match.</wadl:doc>
					</wadl:param>
				</wadl:request>
				<wadl:response status="200">
					<wadl:representation mediaType="application/xml" element="taz-res:resources" />
				</wadl:response>
				<wadl:response status="401" />
				<wadl:response status="403" />
			</wadl:method>
			<wadl:resource id="endUserDomain" path="{domainId}">
				<wadl:doc>End-User Policy Domain, to be managed by a policy administrator of the
					end-user/client
					organization
				</wadl:doc>
				<wadl:param name="domainId" style="template" type="xs:NCName" required="true" />
				<wadl:method name="PUT" id="updateDomain">
					<wadl:doc>Update policy domain properties</wadl:doc>
					<wadl:request>
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
					</wadl:request>
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
					</wadl:response>
					<wadl:response status="400" />
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:method name="GET" id="getDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz:domain" />
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:method name="DELETE" id="deleteDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties">
							<wadl:doc>Deleted policy domain properties</wadl:doc>
						</wadl:representation>
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:resource path="pap" id="pap">
					<wadl:doc>XACML Policy Administration Point</wadl:doc>
					<wadl:method name="GET" id="getPAP">
						<wadl:request />
						<wadl:response status="200">
							<wadl:representation mediaType="application/xml" element="taz-res:resources" />
						</wadl:response>
						<wadl:response status="401" />
						<wadl:response status="403" />
					</wadl:method>
					<wadl:method name="PUT" id="updatePdpProperties">
						<wadl:doc>Update PDP general properties</wadl:doc>
						<wadl:request>
							<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:pdpProperties" />
						</wadl:request>
						<wadl:response status="200">
							<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:pdpProperties" />
						</wadl:response>
						<wadl:response status="400" />
						<wadl:response status="401" />
						<wadl:response status="403" />
						<wadl:response status="404" />
					</wadl:method>
					<wadl:resource path="policies" id="policySetResources">
						<wadl:doc>PolicySets resources
						</wadl:doc>
						<wadl:method name="POST" id="addPolicySet">
							<wadl:doc>Create managed resource for a PolicySet</wadl:doc>
							<wadl:request>
								<wadl:representation mediaType="application/xml; charset=UTF-8" element="xacml:PolicySet" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="atom:link">
									<wadl:doc>Link to created managed PolicySet resource</wadl:doc>
								</wadl:representation>
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="409">
								<wadl:doc>PolicySetId/Version conflict</wadl:doc>
							</wadl:response>
						</wadl:method>
						<wadl:method name="GET" id="getPolicySets">
							<wadl:doc>Get policies.</wadl:doc>
							<wadl:request>
								<wadl:param name="policySetId" style="query" type="xs:anyURI" required="false">
									<wadl:doc>If specified, only XACML PolicySets with matching PolicySetId will be returned, or none if no match.</wadl:doc>
								</wadl:param>
								<wadl:param name="version" style="query" type="xacml:VersionType" required="false">
									<wadl:doc>If specified, 'policySetId' parameter must be specified as well, and only XACML PolicySets with matching PolicySetId and Version will be returned, or none if no match.</wadl:doc>
								</wadl:param>
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz-res:resources" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
						<wadl:resource id="policySetResource" path="{policyUID}">
							<wadl:doc>PolicySet resource
							</wadl:doc>
							<wadl:param name="policyUID" style="template" type="xs:NCName" required="true">
								<wadl:doc>PolicySet unique identifier (PolicySet UID). This is the identifier allocated by the Service Provider for the PolicySet resource. Note that this is different from the XACML
									PolicySetId in at least two ways:
									1. It is allocated by the Service Provider whereas the XACML PolicySetId is defined by the Service Consumer.
									2. It identifies the XACML PolicySetId AND Version. In other words, you can have two different resources with the same PolicySetId but different Versions (therefore different PolicySet UIDs).
								</wadl:doc>
							</wadl:param>
							<wadl:method name="PUT" id="updatePolicySet">
								<wadl:doc>Update policy</wadl:doc>
								<wadl:request>
									<wadl:representation mediaType="application/xml; charset=UTF-8" element="xacml:PolicySet" />
								</wadl:request>
								<wadl:response status="200">
									<wadl:representation mediaType="application/xml; charset=UTF-8" element="xacml:PolicySet" />
								</wadl:response>
								<wadl:response status="400" />
								<wadl:response status="401" />
								<wadl:response status="403" />
								<wadl:response status="404" />
							</wadl:method>
							<wadl:method name="GET" id="getPolicySet">
								<wadl:request />
								<wadl:response status="200">
									<wadl:representation mediaType="application/xml; charset=UTF-8" element="xacml:PolicySet" />
								</wadl:response>
								<wadl:response status="401" />
								<wadl:response status="403" />
								<wadl:response status="404" />
							</wadl:method>
							<wadl:method name="DELETE" id="deletePolicySet">
								<wadl:request />
								<wadl:response status="200">
									<wadl:representation mediaType="application/xml; charset=UTF-8" element="xacml:PolicySet">
										<wadl:doc>Deleted policy</wadl:doc>
									</wadl:representation>
								</wadl:response>
								<wadl:response status="401" />
								<wadl:response status="403" />
								<wadl:response status="404" />
							</wadl:method>
						</wadl:resource>
					</wadl:resource>
					<wadl:resource path="attributeFinders" id="attributeFinderList">
						<wadl:doc>Attribute Finders to be used by the PDP for finding attributes defined in policies
							that
							may not be provided by the PEP (in the XACML request).
						</wadl:doc>
						<wadl:method name="GET" id="getAttributeFinders">
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
						<wadl:method name="PUT" id="updateAttributeFinders">
							<wadl:request>
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
					</wadl:resource>
				</wadl:resource>
				<wadl:resource path="pdp" id="pdp">
					<wadl:doc>XACML Policy Decision Point</wadl:doc>
					<wadl:method name="POST" id="requestPolicyDecision">
						<wadl:request>
							<wadl:representation mediaType="application/xml" element="xacml:Request" />
							<wadl:representation mediaType="text/xml" element="xacml:Request" />
						</wadl:request>
						<wadl:response status="200">
							<wadl:representation mediaType="application/xml" element="xacml:Response" />
						</wadl:response>
						<wadl:response status="400" />
						<wadl:response status="401" />
						<wadl:response status="403" />
					</wadl:method>
				</wadl:resource>
			</wadl:resource>
		</wadl:resource>
	</wadl:resources>
</wadl:application>
